<!doctype HTML>
<html>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </head>
        <body ng-app="MyFirstApp" ng-controller="MyController">
           <p> {{ marklar }}</p>
           <p> {{ counter }}</p>
           <button ng-click="incrementIt()">Click Me</button>
           <p><input type="text" ng-model="marklar"/></p>
        </body>
</html>